{
  "prettier/prettier": [
    "warn",
    {
      "parser": "flow",
      "printWidth": 150,
      "useTabs": false,
      "tabWidth": 2,
      "trailingComma": "all",
      "semi": true,
      "singleQuote": false,
      "bracketSpacing": true,
      "arrowParens": "always",
      "jsxSingleQuote": false,
      "bracketSameLine": false,
      "endOfLine": "lf",
      "proseWrap": "always"
    }
  ]
}
