@import url("https://fonts.googleapis.com/css2?family=Clicker+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

/*! Should Import before the tailwind stuff */
@tailwind base;
@tailwind components;
@tailwind utilities;

a {
  padding: 0;
}

.linav {
  color: chocolate;
}
.text-container {
  max-height: calc(2.5em * 4); /* Height for 4 lines of text */
  overflow-y: auto; /* Allow vertical scrolling */
  scrollbar-width: 9px; /* For Firefox */
  scrollbar-color: #603809 #f9c06a; /* Thumb and track color for Firefox */
  border-radius: 10px; /* Rounded corners for the text container */
}

/* WebKit browsers (Chrome, Safari) custom scrollbar */
.text-container::-webkit-scrollbar {
  width: 10px; /* Width of the scrollbar */
}

.text-container::-webkit-scrollbar-thumb {
  background-color: #d88585; /* Custom color for the scrollbar handle */
  border-radius: 50px; /* Rounded scrollbar handle */
}

.text-container::-webkit-scrollbar-track {
  background-color: burlywood; /* Color of the scrollbar track */
}

/* Text styling */
.text-clamp {
  line-height: 1.6; /* Adjust line height for better readability */
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.footers {
  background-image: url("@public/footer/fotter_image.svg");
  background-size: cover;
  background-position: center;

  width: 100%;
  height: 100%;
}
.signin_button:hover {
  background-color: rgb(88, 82, 72);
}

.header1 {
  @apply text-coffee-brown text-5xl lg:text-4xl font-bold md:text-3xl ph:text-xl;
}
.headerSub {
  @apply text-lg text-gray-500 font-normal md:text-base ph:text-sm;
}
